.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

*, *::defore, *::after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

.block {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	font-kerning: none; /*|  | */

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;

	background-color: #ffffff;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation a {
	color: #000000;
}

.main-navigation a:hover:not(.current-page),
.main-navigation a:focus:not(.current-page) {
	color: #81b3d2;
	outline: none;
}

.main-navigation a:active:not(.current-page) {
	color: #b2b2b2;
}

.main-navigation .current-page {
	color: #766357;
}

.main-introduction .introduction-slogan {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.introduction-features {
	line-height: 26px;
}

.introduction-welcome {
	/*background: linear-gradient(150deg, #b3d0e3 30%, #82a9c9 45%, #4d4d4e 60%);*/
}

.features-list {
	list-style: none;
}

.feature-item ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.feature-item {
	text-align: center;
	line-height: 21px;

	background-color: #eeeeee;
}

.feature-item:first-of-type,
.feature-item:nth-of-type(2) {
	color: #ffffff;

	background-color: #81b3d2;
}

.feature-item ul {
	color: #000000;

	background-color: #ffffff;
}

.feature-item h3,
.feature-item h4 {
	font-size: 21px;
	font-weight: bold;
}

.feature-number,
.feature-item p {
	font-size: 14px;
}

.hook-bold {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
}

.button {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;

	border: none;
}

.access-search .access-button {
	background-color: #766357;
}

.access-search .access-button:hover,
.access-search .access-button:focus {
	background-color: #604e43;
	outline: none;
}

.access-search .access-button:active {
	color: #928a85;
	background-color: #503e33;
}

.search-form label,
.search-form input {
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;

}

.search-form input {
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}

.search-form input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.search-button {
	background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
	outline: none;
}

.search-button:active {
	color: #94b9d2;

	background-color: #5496bd;
}

footer {
	line-height: 26px;
}

footer .hashtag {
	font-size: 21px;
	font-weight: bold;
}

footer a {
	color: #000000;
}

footer a:hover,
footer a:focus {
	color: #81b3d2;
	outline: none;
}

footer a:active {
	color: #bdbbbc;
}

.social {
	list-style: none;
}

.logo-htmlacademy {
	fill: #000000;
}

a:hover .logo-htmlacademy,
a:focus .logo-htmlacademy {
	fill: #81b3d2;
}

a:active .logo-htmlacademy {
	fill: #bdbbbc;
}

.filters-residence {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background: linear-gradient(135deg, #7a9dbd, #564a49);
}

.filters-residence fieldset {
	border: none;
}

.filters-residence legend {
	font-size: 16px;
	font-weight: bold;
}

.filters-button {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;

	border: 2px solid #ffffff;
	background-color: rgba(0, 0, 0, 0);
}

.filters-button:hover,
.filters-button:focus {
	color: #000000;
	background-color: #ffffff;
}

.filters-results ul {
	list-style: none;
}

.filters-results .bold {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.filters-results .sorting-types {
	font-size: 12px;
	line-height: 18px;
}

.filters-results .filter-link {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #cacaca;

	background-color: rgba(0, 0, 0, 0);
	border-bottom: 1px dotted #81b3d2;
}

.filters-results .filter-link:hover,
.filters-results .filter-link:focus {
	color: #81b3d2;
	outline: none;
}

.filters-results .filter-link:active {
	color: #000000;
	border: none;
}

.filters-results .filter-checked {
	color: #81b3d2;
	border: none;
}

.filters-results .filter-checked:active {
	color: #81b3d2;
	border: none;
}

.available-offers ul {
	list-style: none;
}

.offer-item {
	font-size: 14px;
	line-height: 21px;
}

.offer-name a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.offer-name a:hover,
.offer-name a:focus {
	color: #81b3d2;
	outline: none;
}

.offer-name a:active {
	color: #cacaca;
}

.offer-item .offer-details,
.offer-item .offer-book {
	color: #ffffff;
	font-weight: bold;

	outline: none;
}

.offer-item .offer-details {
	background-color: #81b3d2;
}

.offer-item .offer-details:hover,
.offer-item .offer-details:focus {
	background-color: #669ec0;
}

.offer-item .offer-details:active {
	color: #88b6d1;

	background-color: #5496bd;
}

.offer-item .offer-book {
	background-color: #766357;
}

.offer-item .offer-book:hover,
.offer-item .offer-book:focus {
	background-color: #604e43;
}

.offer-item .offer-book:active {
	color: #857871;

	background-color: #503e33;
}

.offer-item .offer-rating {
	background-color: #f2f2f2;
}

/* ----- Сеточные стили ----- */

html,
body {
	min-width: 1280px;
	min-height: 2762px;
}

.main-header {
}

.main-navigation {
	background-color: #ffffff;
}

.main-navigation ul {
	width: 1200px;
	margin: 0 auto;
	padding: 0;

	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.main-navigation a {
	display: block;
	box-sizing: border-box;
	width: 239px;
	height: 100%; /*Не придумал другого варианта, чтобы ссылка полностью заполняла высоту родителя*/
	padding: 15px;
	text-align: center;
}

.main-navigation li:nth-child(2) {
	margin-right: auto;
}

.main-navigation li:nth-child(3) {
	margin-left: auto;
}

.logo-nav {
	display: block;
	position: absolute;
	top: 0;
	left: 520px;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	padding: 0;
}

main {
	width: 1200px;
	margin: 0 auto;
}

section.main-introduction {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #ffffff;
	background-image: url("../img/intro-mask.svg"),
										url("../img/background-index.jpg");
	background-repeat: no-repeat, no-repeat;
	background-position: 0 451px, 0 -83px;
	background-size: 1200px 60px, 1200px 800px;
}

.container-main-introduction {
	width: 100%;
	padding-top: 59px;
	background-color: #ffffff
}

.introduction-welcome {
	margin: 0 auto;
	margin-top: 76px;
	margin-bottom: 79px;
	padding-left: 1px;
}

.introduction-slogan {
	margin: 0 auto;
	width: 460px;
	margin-bottom: 28px;

	text-align: center;
	background-color: #ffffff;
}

.introduction-features {
	margin-bottom: 51px;
	text-align: center;
	background-color: #ffffff;
}

.features .features-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
}

.features-list .feature-item {
	display: flex;
	flex-wrap: wrap;
}

.feature-item-context {
	box-sizing: border-box;
	padding-top: 47px;
	padding-right: 46px;
	padding-bottom: 39px;
	padding-left: 46px;
	width: 400px;
	flex-shrink: 0;
}

.feature-item-context h3 {
	width: 153px;
	margin: 0 auto 24px;
}

.feature-item-context p {
	width: 305px;
	margin: 0 auto;
	padding: 0;
	padding-top: 21px;
}

.feature-item:nth-of-type(3) .feature-item-context p,
.feature-item:nth-of-type(4) .feature-item-context p {
	width: 265px;
}

.feature-item:nth-of-type(5) .feature-item-context p {
	width: 260px;
}

.feature-item .feature-item-detailed {
	display: flex;
}

.feature-item-detailed li {
	flex-shrink: 0;
	width: 400px;
}

.feature-item-detailed h4 {
	margin: 0 auto;
	margin-top: 161px;
}

.feature-item-detailed p {
	width: 290px;
	padding: 0;
	padding-bottom: 60px;
	margin: 23px auto;
}

.features-list .feature-item:nth-of-type(2) {
	flex-direction: row-reverse;
}

.access-search {
	background-color: #ffffff;
	padding-top: 76px;
}

.access-search .hook {
	display: block;
	width: 450px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 47px;

	text-align: center;
}

.access-search .hook-bold {
	display: block;
	margin: 0 auto;
	padding: 0;
	padding-bottom: 30px;

	text-align: center;
}

.access-button {
	box-sizing: border-box;
	display: block;
	width: 568px;
	height: 86px;
	padding: 0;
	padding-bottom: 2px;
	margin: 0 auto;
}

.container-form {
	position: relative;
}

/*.container-form iframe {
	position: absolute;
	top: 0;
	left: 0;
}*/

section.search-form {
	position: absolute;
	top: 0;
	left: 316px;
	box-sizing: border-box;
	width: 568px;
	padding: 55px;

	background-color: #ffffff;
}

.input-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
}

.input-container input {
	min-height: 38px;
	flex-grow: 1;
}

.input-container label {
	min-height: 38px;
	vertical-align: bottom;
}

.search-button {
	width: 100%;
	min-height: 58px;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 1200px;
	padding-top: 36px;
	padding-bottom: 36px;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.9);
}