.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 400;
	src: local('PT Sans'),
	url('/fonts/ptsans.woff2') format('woff2'),
	url('/fonts/ptsans.woff') format('woff'),
}

@font-face {
	font-family: 'PT Sans';
	font-style: normal;
	font-weight: 700;
	src: local('PT Sans'),
	url('/fonts/ptsansbold.woff2') format('woff2'),
	url('/fonts/ptsansbold.woff') format('woff'),
}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;
	font-kerning: none; /*|  | */

	background-color: #ffffff;
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: bold;
	color: #ffffff;

	background-color: #ffffff;
}

.main-navigation ul {
	list-style: none;
}

.main-navigation a {
	color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #81b3d2;
	outline: none;
}

.main-navigation a:active {
	color: #b2b2b2;
}

.main-navigation .current-page {
	color: #766357;
}

.main-introduction .introduction-slogan {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.introduction-features {
	line-height: 26px;
}

.introduction-welcome {
	background: linear-gradient(150deg, #b3d0e3 30%, #82a9c9 45%, #4d4d4e 60%);
}

.features-list {
	list-style: none;
}

.feature-item ul {
	margin: 0;
	padding: 0;

	list-style: none;
}

.feature-item {
	text-align: center;
	line-height: 21px;

	background-color: #eeeeee;
}

.feature-item:first-of-type,
.feature-item:nth-of-type(2) {
	color: #ffffff;

	background-color: #81b3d2;
}

.feature-item ul {
	color: #000000;

	background-color: #ffffff;
}
 
.feature-item h3,
.feature-item h4 {
	font-size: 21px;
	font-weight: bold;
}

.feature-number,
.feature-item p {
	font-size: 14px;
}

.hook-bold {
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

.button {
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
	font-weight: bold;
	color: #ffffff;

	border: none;
}

.access-search .access-button {
	background-color: #a0938b;
}

.access-search .access-button:hover,
.access-search .access-button:focus {
	background-color: #604e43;
	outline: none;
}

.access-search .access-button:active {
	color: #928a85;
	background-color: #503e33;
}

.search-form label,
.search-form input {
	font-size: 14px;
	line-height: 26px;
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;

}

.search-form input {
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;
}

.search-form input:hover {
	background-color: #ebebeb;
	border: 2px solid #ebebeb;
}

.search-form input:focus {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
	outline: none;
}

.search-button {
	background-color: #81b3d2;
}

.search-button:hover,
.search-button:focus {
	background-color: #669ec0;
	outline: none;
}

.search-button:active {
	color: #94b9d2;

	background-color: #5496bd;
}

footer {
	line-height: 26px;
}

footer .hashtag {
	font-size: 21px;
	font-weight: bold;
}

footer a {
	color: #000000;
}

footer a:hover,
footer a:focus {
	color: #81b3d2;
	outline: none;
}

footer a:active {
	color: #bdbbbc;
}

.logo-htmlacademy {
	fill: #000000;
}

a:hover .logo-htmlacademy,
a:focus .logo-htmlacademy {
	fill: #81b3d2;
}

a:active .logo-htmlacademy {
	fill: #bdbbbc;
}

.filters-residence {
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	background: linear-gradient(135deg, #7a9dbd, #564a49);
}

.filters-residence fieldset {
	border: none;
}

.filters-residence legend {
	font-size: 16px;
	font-weight: bold;
}

.filters-button {
	font-size: 14px;
	line-height: 21px;
	font-weight: normal;
	color: #ffffff;
	text-transform: uppercase;

	border: 2px solid #ffffff;
	background-color: rgba(0, 0, 0, 0);
}

.filters-button:hover,
.filters-button:focus {
	color: #000000;
	background-color: #ffffff;
}

.filters-results ul {
	list-style: none;
}

.filters-results .bold {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.filters-results .sorting-types {
	font-size: 12px;
	line-height: 18px;
}

.filters-results .filter-button {
	font-size: 12px;
	line-height: 18px;
	text-transform: uppercase;
	color: #cacaca;

	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-bottom: 1px dotted #81b3d2;
}

.filters-results .filter-button:hover,
.filters-results .filter-button:focus {
	color: #81b3d2;
	outline: none;
}

.filters-results .filter-button:active {
	color: #000000;
	border: none;
}

.filters-results .filter-checked {
	color: #81b3d2;
	border: none;
}

.filters-results .filter-checked:active {
	color: #81b3d2;
	border: none;
}

.available-offers ul {
	list-style: none;
}

.offer-item {
	font-size: 14px;
	line-height: 21px;
}

.offer-name a {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	color: #000000;
}

.offer-name a:hover,
.offer-name a:focus {
	color: #81b3d2;
	outline: none;
}

.offer-name a:active {
	color: #cacaca;
}

.offer-item .offer-details,
.offer-item .offer-book {
	color: #ffffff;
	font-weight: bold;

	outline: none;
}

.offer-item .offer-details {
	background-color: #81b3d2;
}

.offer-item .offer-details:hover,
.offer-item .offer-details:focus {
	background-color: #669ec0;
}

.offer-item .offer-details:active {
	color: #88b6d1;

	background-color: #5496bd;
}

.offer-item .offer-book {
	background-color: #766357;
}

.offer-item .offer-book:hover,
.offer-item .offer-book:focus {
	background-color: #604e43;
}

.offer-item .offer-book:active {
	color: #857871;

	background-color: #503e33;
}

.offer-item .offer-rating {
	background-color: #f2f2f2;
}
